@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensedRegular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Helvet";
  src: url("../fonts/00119-UTM-HelvetIns.ttf") format("truetype");
  font-weight: 900;
}

.custom-layout {
  height: 100vh;
}

.custom-header {
  padding: 0px;
  height: 15%;
  background: #d60f12 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-content {
  padding: 0px !important;
}

.header-bar {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.header-title h1 {
  font-family: "Helvet";
  font-size: 1.8vw;
  line-height: 1.2vw;
  text-align: center;
  color: #fff500;
  text-shadow: 0px 0.2vw 0.3vw rgba(0, 0, 0, 0.25);
}

.header-title h2 {
  font-family: "RobotoCondensed";
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 1vw;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0.2vw 0.3vw rgba(0, 0, 0, 0.25);
}

.content-parent {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url(https://dgcbcc.toaan.gov.vn/_forms/bg-content-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-item1 {
  width: 60%;
}

.content-item2 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  height: auto;
  width: auto;
  padding: 30px;
  background-color: #f4daac;
  background-image: url("https://dgcbcc.toaan.gov.vn/_forms/images/bg-form-login.png");
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  font-weight: bold;
}

.input-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: none;
}

.form-title {
  font-size: 1.2vw;
  line-height: 1.6vw;
  font-family: "Helvet";
  text-align: center;
  color: #ce1f1f;
  text-shadow: 0px 0.1vw 0.1vw #fff;
}

input[type="checkbox"] {
  appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0.1rem;
  border: 0.1rem solid red;
  border-radius: 0.2rem;
  background-color: white;
  margin-left: 10%;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  clip-path: polygon(25% 50%, 45% 70%, 80% 20%, 90% 30%, 45% 85%, 15% 55%);
  transform: scale(0);
  background-color: red;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* input[type="checkbox"]:hover {
  color: black;
} */

.custom-button {
  width: auto;
  height: auto;
  padding: 0.9rem 2.3rem;
  background-color: #ce1f1f;
  color: #fff;
  border: none;
  font-family: "Helvet";
  font-size: 1.1vw;
  font-weight: 600;
}

.custom-button:hover,
.custom-button:focus {
  background-color: #d60f12 !important;
  color: white;
}

@media(max-width: 1200px) {
  .header-logo img {
    width: 8vh;
  }

  .custom-button {
    font-size: 1.75vw;
  }

  .form-title {
    font-size: 2vw !important;
    line-height: 3vw;
  }
  .header-title h1 {
    font-size: 3vw;
    line-height: 2vw;
  }

  .header-title h2 {
    font-size: 1.5vw;
    line-height: 1.3vw;
  }
}

@media (max-width: 540px) {
  .form-content {
    margin-left: 0%;
  }

  .form-title {
    font-size: 5vw !important;
    line-height: 7vw;
  }

  .header-title h1 {
    font-size: 4vw;
    line-height: 1.5vw;
  }

  .header-title h2 {
    font-size: 2.5vw;
    line-height: 3.5vw;
  }

  .header-logo img {
    width: 7vh;
  }

  .custom-button {
    width: 50%;
    height: 7vh;
    /* font-family: 'Helvet'; */
    font-size: 5vw;
  }
  .content-item2 {
    width: 100%;
  }
  .content-item1 {
    width: 0%;
  }
}

@media (max-width: 375px) {
  .header-title h1 {
    font-size: 4vw;
  }

  .header-title h2 {
    font-size: 4vw;
    line-height: 4.5vw;
  }

  .content-item2 {
    width: 100%;
  }
  .content-item1 {
    width: 0%;
  }
}

@media (max-width: 360px) {
  .form-content {
    width: 80%;
    height: auto;
  }
}

/* @media (max-width: 700px) {
  .header-title h1 {
    font-size: 5vw;
    line-height: 3vw;
  }

  .header-title h2 {
    font-size: 2.5vw;
    line-height: 3vw;
  }

  .header-logo img {
    width: 1vh;
  }
} */
